<a href="https://colab.research.google.com/github/Jisha-John/test_workshop/blob/main/pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Practice

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
colors= np.array(['red', 'white', 'blue'])
 
ser1 = pd.Series(colors)

In [7]:
print(ser1)

0      red
1    white
2     blue
dtype: object

In [11]:
# Combine the Series of cars and colours into a DataFrame
cars = ({
    'colors':ser1,
    'car_types' :ser2
               })
df = pd.DataFrame(cars)
print(df)

  colors car_types
0    red    nissan
1  white    toyota
2   blue     honda

In [9]:
car_types = np.array(['nissan', 'toyota', 'honda'])
 
ser2 = pd.Series(car_types)

print(ser2)

0    nissan
1    toyota
2     honda
dtype: object

In [17]:
url="https://raw.githubusercontent.com/Jisha-John/test_workshop/main/car-sales.csv"
df = pd.read_csv(url)
print(df)
# Import "../data/car-sales.csv" and turn it into a DataFrame

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

**Note:** Since you've imported `car-sales.csv` as a DataFrame, we'll now refer to this DataFrame as 'the car sales DataFrame'.

In [18]:
df.to_csv('cars_details.csv')
# Export the DataFrame you created to a .csv file

In [19]:
print(df.dtypes)
# Find the different datatypes of the car data DataFrame

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [20]:
print(df.describe())
# Describe your current car sales DataFrame using describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [21]:
print(df.info())
# Get information about your DataFrame using info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes
None

What does it show you?

In [23]:

num= np.array([1,2,3,4])
 
ser = pd.Series(num)
print(ser.mean())
# Create a Series of different numbers and find the mean of them

2.5

In [24]:
num= np.array([1,2,3,4])
 
ser = pd.Series(num)
print(ser.sum())
# Create a Series of different numbers and find the sum of them

10

In [25]:
print(df.columns)
# List out all the column names of the car sales DataFrame

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [29]:
print(len(df))
# Find the length of the car sales DataFrame

10

In [30]:
print(df.head(5))
# Show the first 5 rows of the car sales DataFrame

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [31]:
print(df.head(7))
# Show the first 7 rows of the car sales DataFrame

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00

In [32]:
print(df.tail(5))
# Show the bottom 5 rows of the car sales DataFrame

     Make Colour  Odometer (KM)  Doors      Price
5  Toyota  Green          99213      4  $4,500.00
6   Honda   Blue          45698      4  $7,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

In [34]:
print(df.loc[[3]])
# Use .loc to select the row at index 3 of the car sales DataFrame

  Make Colour  Odometer (KM)  Doors       Price
3  BMW  Black          11179      5  $22,000.00

In [35]:
print(df.iloc[[3]])
# Use .iloc to select the row at position 3 of the car sales DataFrame

  Make Colour  Odometer (KM)  Doors       Price
3  BMW  Black          11179      5  $22,000.00

Notice how they're the same? Why do you think this is? 

Check the pandas documentation for [.loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) and [.iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html). Think about a different situation each could be used for and try them out.

In [ ]:
# Select the "Odometer (KM)" column from the car sales DataFrame

In [ ]:
# Find the mean of the "Odometer (KM)" column in the car sales DataFrame

In [ ]:
# Select the rows with over 100,000 kilometers on the Odometer

In [ ]:
# Create a crosstab of the Make and Doors columns

In [ ]:
# Group columns of the car sales DataFrame by the Make column and find the average

In [ ]:
# Import Matplotlib and create a plot of the Odometer column
# Don't forget to use %matplotlib inline

In [ ]:
# Create a histogram of the Odometer column using hist()

In [ ]:
# Try to plot the Price column using plot()

Why didn't it work? Can you think of a solution?

In [ ]:
# Remove the punctuation from price column

In [ ]:
# Check the changes to the price column

In [ ]:
# Remove the two extra zeros at the end of the price column

In [ ]:
# Check the changes to the Price column

In [ ]:
# Change the datatype of the Price column to integers

In [ ]:
# Lower the strings of the Make column

If you check the car sales DataFrame, you'll notice the Make column hasn't been lowered.

How could you make these changes permanent?

Try it out.

In [ ]:
# Make lowering the case of the Make column permanent

In [ ]:
# Check the car sales DataFrame

Notice how the Make column stays lowered after reassigning.

Now let's deal with missing data.

In [ ]:
# Import the car sales DataFrame with missing data ("../data/car-sales-missing-data.csv")


# Check out the new DataFrame

Notice the missing values are represented as `NaN` in pandas DataFrames.

Let's try fill them.

In [ ]:
# Fill the Odometer column missing values with the mean of the column inplace

In [ ]:
# View the car sales missing DataFrame and verify the changes

In [ ]:
# Remove the rest of the missing data inplace

In [ ]:
# Verify the missing values are removed by viewing the DataFrame

We'll now start to add columns to our DataFrame.

In [ ]:
# Create a "Seats" column where every row has a value of 5

In [ ]:
# Create a column called "Engine Size" with random values between 1.3 and 4.5
# Remember: If you're doing it from a Python list, the list has to be the same length
# as the DataFrame

In [ ]:
# Create a column which represents the price of a car per kilometer
# Then view the DataFrame

In [ ]:
# Remove the last column you added using .drop()

In [ ]:
# Shuffle the DataFrame using sample() with the frac parameter set to 1
# Save the the shuffled DataFrame to a new variable

Notice how the index numbers get moved around. The [`sample()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html) function is a great way to get random samples from your DataFrame. It's also another great way to shuffle the rows by setting `frac=1`.

In [ ]:
# Reset the indexes of the shuffled DataFrame

Notice the index numbers have been changed to have order (start from 0).

In [ ]:
# Change the Odometer values from kilometers to miles using a Lambda function
# Then view the DataFrame

In [ ]:
# Change the title of the Odometer (KM) to represent miles instead of kilometers